/* CSS RESET  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


::-webkit-scrollbar{
    display: none;
}

:root{
    --main-color:   #fc0;
    --dark-color: #000000;
    --semi-color : #141414;
    --light-color:#ffffff;
    --font-color : rgb(12, 8, 8);
}

.btn{
    padding: 0.8rem 1.3rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all 0.4s;
}

.btn>a{
    text-decoration: none;
    color: var(--dark-color);
}

.btn:hover{
    background-color:yellow;
}

.container{
    padding: 5rem 6rem;
}


#navbar{
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--dark-color);
}

#logo>img{
    height: 6rem;
}

.hamburger{
    font-size: 3rem;
    cursor: pointer;
    height: 100%;
}

.nav-links{
   position: fixed;
   height: 100%;
   width: 0;
   top: 0;
   right: 0;
   font-size: 1rem;
   background-color:var(--main-color);
   transition:0.5s;
    visibility: hidden;
    z-index: 99999;
}

.nav-links>ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
}

.nav-links>ul>li{
    padding: 1rem 0;
    font-weight:bold;
}

.nav-links>ul>li>a{
    text-decoration: none;
    color: var(--dark-color);
    position: relative;
    cursor: pointer;
}

#close{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 2rem;
 }
 
 .social-link{
     text-align: center;
 }
 
 .social-link>a{
     color: var(--dark-color);
     font-size: 1.5rem;
     transition: all 0.3s;
     padding: 0.1rem 0.3rem;
 }
 
 .social-link>a:hover{
     color: var(--light-color);
 }
 
 
 
 /* header-media-queries  */
 
 /* desktop  */
 @media (min-width:1025px) and (max-width:1200px){
 
     #close{
         font-size: 1.8rem;
     }
 }
 
 /* laptop  */
 @media (min-width:769px) and (max-width:1024px){
     
     .nav-links{     
         font-size: 0.9rem;
     }
 
     #close{
         font-size: 1.6rem;
     }
 
 }
 
 /* tablet  */
 @media (min-width:481px) and (max-width:768px){
 
     #navbar{
         padding: 0.5rem;
     }
 
     .nav-links{
         
         background-color: rgba(255, 165, 0, 0.85);
         font-size: 1rem;
         text-align: center;
     }
 
     #close{
         font-size: 1.6rem;
     }
 
     .social-link{
         width: 100%;
     }
 
     .social-link>a{
         font-size: 1.4rem;
     }
 }


 
 /* phone  */
 @media (min-width:320px) and (max-width:480px){
     #navbar{
         padding: 0.5rem;
     }
 
     #logo>img{
         height: 3.5rem;
     }
 
     .hamburger{
         font-size: 2.3rem;
     }
 
     .nav-links{
         background-color: rgba(255, 165, 0, 0.85);
         font-size: 1rem;
         text-align: center;
     }
 
     #close{
         font-size: 1.6rem;
     }
 
     .social-link{
         width: 100%;
     }
 
     .social-link>a{
         font-size: 1.4rem;
     }
 }
 
 @media (min-width:0) and (max-width:319px){
 
     #navbar{
         padding: 0.5rem;
     }
 
     #logo>img{
         height: 3.5rem;
     }
 
     #open{
         font-size: 1.8rem;
     }
 }
 
 /* header-media-queries  */





/* home-section */


#home{
   width: 100%;
   background: url('../Media/contact.png');
   height: 70vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center;
 }
 
 
 
  /* home-section */
 












/* contact-us-section-start  */

#contact{
    background-color: var(--dark-color);
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    gap: 1rem;
}

.contact_us_text{
    padding: 1rem;
    grid-column: 1/3;
}

.contact_us_text>h1{
    font-size: 2rem;
    font-weight:bold;
    position: relative;
    color: var(--light-color); 
}

.contact_us_text>h1::after{
    content: '';
    position: absolute;
    width: 90px;
    height: 4px;
    bottom: 0;
    left: 4px;
    background-color: var(--main-color);
}

.contact_us_text>h1>span{
    color: var(--main-color);
}

.left-contact{
    padding: 2rem;
    border: 2px solid var(--semi-color);
}

.left-contact>h2{
    color: var(--main-color);
}

#form{
    display: grid;
    grid-template-columns: 1fr;
}

.form-row{
    margin: 1rem;
}

.form-row>label{
    color: var(--main-color);
    font-size: 1.2rem;
}

.form-row>input ,.form-row>textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 0.8rem 1rem;
    margin: 0.5rem 0;
    font-size: 1.1rem;
    background-color: var(--semi-color);
    color: var(--light-color);
    border-radius: 5px;
}

.form-row>input::placeholder, .form-row>input::-webkit-input-placeholder{
    font-size: 1.2rem;
}

#sendbtn{
    background-color: green;
    color: var(--light-color);
    margin-right: 1rem;
}

#sendbtn:hover{
    background-color: rgb(8, 185, 8);
}

.error{
    font-size: 0.9rem;
    color: red;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.success{
    font-size: 0.9rem;
    color: green;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.right-contact{
    padding: 2rem;
}

.right-contact>p{
    color: var(--light-color);
    font-size: 1.2rem;
    margin: 3rem 0 6rem 0;
}

.right-contact>h2{
    color: var(--main-color);
}

.details{
    cursor: pointer;
    margin: 1.2rem 0;
}

.details>a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.details>a>span{
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: 300;
    margin: auto 0;
}

.details-icon{
    padding: 1rem;
    transition: all 0.5s;
    height: 100%;
    width: 100%;
}

.details-icon:hover{
    transform: scale(1.2);
}

.icon-details-box{
    border: 1px solid var(--main-color);
    border-radius: 50%;
    padding: 0.3rem;
    height: 80px;
    margin: 0 0.5rem;
    width: 80px;
}


.map-box{
    height: 70vh;
}

.map{
    height: 100%;
}

.map>iframe{
    height: 100%;
}





/* media-queries-start  */

/* desktop  */
@media (min-width:1025px) and (max-width:1200px){

    .container{
        padding: 4rem 4rem;
    }

    #contact{
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact_us_text{
        grid-column: 1/2;
    }

    .details{
        padding: 0 5rem;
    }

    .details>a{
        display: flex;
        justify-content: space-between;
    } 
}


/* laptop */
@media (min-width:769px) and (max-width:1024px){

    #home{
        height: 45vh;
    }

    .container{
        padding: 4rem 3rem;
    }

    #contact{
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact_us_text{
        grid-column: 1/2;
    }

    .details>a{
        display: flex;
        justify-content: space-between;
    } 

    .map-box{
        height: 45vh;
    }

}


/* tablet */
@media (min-width:481px) and (max-width:768px){

    #home{
        height: 45vh;
    }

    .container{
        padding: 2rem;
    }

    #contact{
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact_us_text>h1{
        font-size: 1.8rem;
    }

    .contact_us_text>h1::after{
        width:60px;
    }

    .left-contact{
        padding: 0.5rem;
    }


    .right-contact{
        padding: 1rem;
    }

    .right-contact>p{
        margin: 2rem 0;
        font-size: 1rem;
    }

    .contact_us_text{
        grid-column: 1/2;
    }

    .details>a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 

    .map-box{
        height: 40vh;
    }


}


/* phonee */
@media (min-width:320px) and (max-width:480px){

    #home{
        height: 40vh;
    }

    .container{
        padding: 1rem;
    }

    #contact{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .contact_us_text>h1{
        font-size: 1.5rem;
    }

    .contact_us_text>h1::after{
        width:50px;
    }

    .left-contact{
        padding: 1rem;
    }

    .left-contact>h2{
        font-size: 1.2rem;
    }

    .form-row{
        margin: 0.5rem 0;
    }

    .form-row>label{
        font-size: 1rem;
    }

    .form-row>input{
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .form-row>input::placeholder{
        font-size: 0.9rem;
    }

    .right-contact>h2{
        font-size: 1.2rem;
    }

    .right-contact>p{
        margin: 1rem 0;
        font-size: 1rem;
    }

    .right-contact{
        padding: 1rem;
    }

    .details>a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 

    .details>a>span{
        font-size: 0.9rem;
    }

    .error{
        font-size: 0.8rem;
    }

    .success{
        font-size: 0.8rem;
    }

    .map-box{
        height: 35vh;
    }

}


/*mini- phonee */
@media (min-width:0) and (max-width:319px){

    #home{
        height: 40vh;
    }

    .container{
        padding: 1rem;
    }

    #contact{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .contact_us_text>h1{
        font-size: 1.5rem;
    }

    .contact_us_text>h1::after{
        width:50px;
    }

    .left-contact{
        padding: 1rem;
    }

    .left-contact>h2{
        font-size: 1.2rem;
    }

    .form-row{
        margin: 0.5rem 0;
    }

    .form-row>label{
        font-size: 1rem;
    }

    .form-row>input{
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .form-row>input::placeholder{
        font-size: 0.9rem;
    }

    .right-contact>h2{
        font-size: 1.2rem;
    }

    .right-contact>p{
        margin: 1rem 0;
        font-size: 1rem;
    }

    .right-contact{
        padding: 1rem;
    }

    .details>a{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 

    .details>a>span{
        font-size: 0.8rem;
        text-align: center;
    }

    .map-box{
        height: 30vh;
    }


}

/* media-queries-end */




/* contact-us-section-end  */















 /* footer-section-start  */


.footer{
    padding: 3rem;
    background-color: var(--dark-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 3rem;
}

.footer-content{
    color: var(--light-color);
    word-spacing: 4px;
    text-align: start;
}

.footer-content>h2{
    color: var(--main-color);
}

.footer-social-link>a{
    color: var(--main-color);
    font-size: 1.5rem;
    transition: all 0.3s;
    padding: 0.1rem 0.5rem;
}

.footer-social-link>a:hover{
    color: var(--light-color);
}
 
 .footer-nav-links>li{
    padding: 0.5rem 0;
    list-style: none;
 }
 
 .footer-nav-links>li>a{
    text-decoration: none;
    color: var(--light-color);
 }
 
 .footer-nav-links>li>a:hover{
    color: var(--main-color);
 }

 .creator{
     text-align: center;
     grid-column: 1/5;
     padding-top: 0.7rem;
     border-top: 1px solid grey;
 }

 .creator>p{
    color: var(--light-color);
 }

 .creator>p>marquee>span{
     color: var(--main-color);
 }





 /* footer-media-queries  */


 /* desktop  */
 @media (min-width:1025px) and (max-width:1200px){

    .footer{
        display: grid;
        gap: 1rem;
    }

    .footer-content>h2{
        font-size: 1.2rem;
    }
 }



 /* laptop  */

 @media (min-width:769px) and (max-width:1024px){

    .footer{
        padding: 2rem 1rem;
        display: grid;
        gap: 4rem 2rem;
    }

    .footer-content>h2{
        font-size: 1.2rem;
    }

    .footer-communication-content{
        display: flex;
        flex-direction: column;
    }

    .footer-content{
        grid-column: 1/5;
        padding: 0.5rem;
    }
 }


 /* tablet  */
 @media (min-width:481px) and (max-width:768px){

    .footer{
        padding: 1rem;
        display: grid; 
        gap: 1rem;
    }

    .footer-content>h2{
        font-size: 1.2rem;
    }

    .footer-communication-content{
        display: flex;
        flex-direction: column;
    }

    .footer-content{
        grid-column: 1/5;
        padding: 0.5rem;
    }

 }


 /* phone  */
 @media (min-width:320px) and (max-width:480px){

    .footer{
        padding: 1rem;
        display: grid; 
        gap: 1rem;
    }

    .footer-content>h2{
        font-size: 1.2rem;
    }

    .footer-content{
        grid-column: 1/5;
        padding: 0.5rem;
    }

    .footer-nav-links>li>a{
        font-size: 0.9rem;
    }

    .map{
       overflow: auto;
    }

    .creator>p{
        font-size: 0.8rem;
    }

 }


 /*mini- phone  */
 @media (min-width:0px) and (max-width:319px){

    .footer{
        padding: 0.5rem;
        display: grid; 
        gap: 1rem;
    }

    .footer-content>h2{
        font-size: 1.1rem;
    }

    .footer-communication-content{
        display: flex;
        flex-direction: column;
    }

    .footer-nav-links>li>a{
        font-size: 0.9rem;
    }

    .footer-content{
        grid-column: 1/5;
        padding: 0.5rem;
    }

    .details-icon{
        font-size: 2.5rem;
    }

    .map{
       overflow: auto;
    }

    .creator>p{
        font-size: 0.8rem;
    }

 }
 /* footer-media-queries  */



/* footer-section-end */