/* CSS RESET  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --main-color: #fc0;
  --dark-color: #000000;
  --feature-color: #040404;
  --semi-color: #141414;
  --light-color: #ffffff;
  --font-color: rgb(12, 8, 8);
  --navscroll-color: #080707;
}

body {
  max-width: 2000px;
  margin: 0 auto;
}

.btn {
  padding: 0.8rem 1.3rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: var(--main-color);
  cursor: pointer;
  transition: all 0.4s;
}

.btn > a {
  text-decoration: none;
  color: var(--dark-color);
}

.btn:hover {
  background-color: yellow;
}

.container {
  padding-left: 4rem;
  padding-right: 4rem;
}

.container_padding {
  padding: 6rem 4rem;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

#wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: var(--dark-color);
}

#logo {
  width: 250px;
}

.menu_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav_link {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav_link:hover {
  color: var(--light-color);
  transition: all 0.8s;
}

#hamburger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2.5rem;
  display: none;
}

#open,
#close {
  display: none;
  cursor: pointer;
}

#sidebar {
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  position: fixed;
  right: 0;
  z-index: 999;
  transition: width 0.8s;
}

.side_menu_list {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  padding: 5rem 0;
  visibility: hidden;
}

.side_navlink {
  text-decoration: none;
  font-weight: 600;
  color: var(--dark-color);
}

.side_navlink:hover {
  color: var(--light-color);
  transition: all 0.8s;
}

/* header-media-queries  */

/* desktop  */
@media (min-width: 1025px) and (max-width: 1200px) {
  #wrapper {
    grid-template-columns: 1fr 1.5fr;
  }
}

/* laptop  */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .menu_list {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  #open {
    display: block;
  }
}

/* tablet  */
@media (min-width: 481px) and (max-width: 768px) {
  #logo {
    width: 200px;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .menu_list {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  #open {
    display: block;
  }
}

/* phone  */
@media (min-width: 320px) and (max-width: 480px) {
  #logo {
    width: 180px;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu_list {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  #open {
    display: block;
  }
}

@media (min-width: 0) and (max-width: 319px) {
  #logo {
    width: 150px;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu_list {
    display: none;
  }

  #hamburger {
    display: flex;
    font-size: 1.8rem;
  }

  #open {
    display: block;
  }
}

/* header-media-queries  */

/* ----------------price-section-start-----------------------*/

#price {
  background-color: var(--dark-color);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.price-heading-box {
  text-align: center;
}

.price-content-box {
  padding: 3rem 5rem;
}

.price-content-box-quarterly {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.price-heading-1 {
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.price-heading-2 {
  color: var(--light-color);
  font-size: 1.3rem;
  margin-bottom: 3rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.tab-btn {
  border: 2px solid var(--main-color);
  display: inline-block;
  border-radius: 25px;
}

.quarter-btn,
.annual-btn {
  display: inline-block;
  border-radius: 23px;
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  color: var(--light-color);
  cursor: pointer;
  letter-spacing: 1px;
}

.tab-active {
  background-color: var(--main-color);
  color: var(--dark-color);
}

.price-box {
  display: grid;
  grid-template-rows: 0.5fr 0.8fr 2.5fr 0.3fr;
  border-radius: 8px;
  background-color: var(--light-color);
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s;
  gap: 1rem 0;
}

.price-box-rate-heading {
  padding: 0.3rem 0;
}

.price-box-heading {
  border-top: 1px solid var(--semi-color);
  border-bottom: 1px solid var(--semi-color);
  padding: 1rem 0;
}

.price-rate-1 {
  font-weight: 600;
  color: green;
}

.price-rate-2 {
  font-weight: 600;
  color: blue;
}

.price-rate-3 {
  font-weight: 600;
  color: red;
}

.price-rate-1 > span,
.price-rate-2 > span,
.price-rate-3 > span {
  font-size: 2.2rem;
  letter-spacing: 1px;
}

.price-box-heading-1,
.price-box-heading-2,
.price-box-heading-3 {
  position: relative;
}

.price-box:hover {
  transform: translateY(-15px);
}

.price-box-heading-1:hover {
  outline: 3px solid green;
  border-radius: 8px;
}

.price-box-heading-2:hover {
  outline: 3px solid blue;
  border-radius: 8px;
}

.price-box-heading-3:hover {
  outline: 3px solid red;
  border-radius: 8px;
}

.price-box-heading-1::before {
  content: "Growth";
  position: absolute;
  display: inline-block;
  padding: 3px 20px;
  border-radius: 15px;
  background-color: green;
  top: -2%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--light-color);
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.price-box-heading-2::before {
  content: "Professional";
  position: absolute;
  display: inline-block;
  padding: 3px 20px;
  border-radius: 15px;
  background-color: blue;
  top: -2%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--light-color);
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.price-box-heading-3::before {
  content: "Advanced";
  position: absolute;
  display: inline-block;
  padding: 3px 20px;
  border-radius: 15px;
  background-color: red;
  top: -2%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--light-color);
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.price-box-1 {
  color: green;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.price-box-2 {
  color: blue;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.price-box-3 {
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.price-list {
  text-align: center;
}

.price-list > li {
  font-weight: 600;
  margin: 0.6rem 0;
  font-size: 1.2rem;
  list-style: none;
  letter-spacing: 1px;
}

.technical-support-line-1 {
  color: green;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.technical-support-line-2 {
  color: blue;
  font-size: 1.2rem;
  font-weight: 600;
}

.technical-support-line-3 {
  color: red;
  font-size: 1.2rem;
  font-weight: 600;
}

.price-content-box-annually {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* media-queries-section */

@media (min-width: 1025px) and (max-width: 1200px) {
  .price-content-box {
    padding: 2rem;
  }
}

/* laptop  */
@media (min-width: 769px) and (max-width: 1024px) {
  #price {
    gap: 3rem 0;
  }

  .container_padding {
    padding: 4rem 3rem;
  }

  .price-content-box {
    padding: 0;
  }

  .price-content-box-quarterly,
  .price-content-box-annually {
    gap: 0 1rem;
  }
}

/* tablet  */
@media (min-width: 481px) and (max-width: 768px) {
  #price {
    gap: 3rem 0;
  }

  .container_padding {
    padding: 3rem;
  }

  .price-heading-1 {
    font-size: 2.5rem;
  }

  .price-content-box-quarterly,
  .price-content-box-annually {
    grid-template-columns: 1fr;
  }

  .price-content-box {
    padding: 2rem;
  }

  .price-box-heading-1,
  .price-box-heading-2,
  .price-box-heading-3 {
    margin-bottom: 2.5rem;
  }
}

/* phone  */
@media (min-width: 320px) and (max-width: 480px) {
  .container_padding {
    padding: 2rem;
  }

  #price {
    gap: 3rem 0;
  }

  .price-heading-1 {
    font-size: 1.8rem;
  }

  .price-content-box {
    padding: 0rem;
  }

  .price-content-box-quarterly,
  .price-content-box-annually {
    grid-template-columns: 1fr;
  }

  .price-heading-2 {
    font-size: 1.1rem;
  }

  .price-box {
    padding: 1.5rem 1rem;
  }

  .price-rate-1 > span,
  .price-rate-2 > span,
  .price-rate-3 > span {
    font-size: 1.8rem;
  }

  .price-box-1,
  .price-box-2,
  .price-box-3 {
    font-size: 1.4rem;
  }

  .price-list > li {
    font-size: 1.1rem;
  }
}

@media (min-width: 0) and (max-width: 319px) {
  .container_padding {
    padding: 2rem 1rem;
  }

  #price {
    gap: 3rem 0;
  }

  .price-heading-1 {
    font-size: 1.5rem;
  }

  .price-content-box-quarterly,
  .price-content-box-annually {
    grid-template-columns: 1fr;
  }

  .price-heading-2 {
    font-size: 1.1rem;
  }

  .price-content-box {
    padding: 0rem;
  }

  .price-box {
    padding: 1.5rem 0.5rem;
  }

  .price-rate-1,
  .price-rate-2,
  .price-rate-3,
  .price-rate-1 > span,
  .price-rate-2 > span,
  .price-rate-3 > span {
    font-size: 1.5rem;
  }

  .price-box-1,
  .price-box-2,
  .price-box-3 {
    font-size: 1.3rem;
  }

  .price-list > li {
    font-size: 1.1rem;
  }

  .technical-support-line-1,
  .technical-support-line-2,
  .technical-support-line-3 {
    font-size: 1.1rem;
  }

  .quarter-btn,
  .annual-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

/* media-queries-section */

/* ----------------price-section-end----------------------- */

/* ------------------plan-box-start------------------------------ */

#plan {
  background-color: var(--dark-color);
  width: 100%;
}

.plan-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--semi-color);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 0;
}

.plan-heading-box {
  text-align: center;
  padding: 1rem 0;
}

.plan-box-heading {
  color: var(--main-color);
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.plan-content-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2rem;
}

.plan-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plan-heading {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0 1rem;
  color: var(--light-color);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.plan-heading::before {
  content: url("../Media/checked.webp");
}

/* media-queries-section */

/* laptop  */
@media (min-width: 769px) and (max-width: 1024px) {
  .plan-content-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .plan-heading {
    font-size: 1.5rem;
  }
}

/* tablet  */
@media (min-width: 481px) and (max-width: 768px) {
  .plan-box-heading {
    font-size: 1.8rem;
  }

  .plan-overlay {
    gap: 2rem 0;
  }

  .plan-heading {
    font-size: 1.3rem;
  }

  .plan-heading::before {
    font-size: 2rem;
  }

  .plan-content-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* media-queries-section */

/* phone  */
@media (min-width: 320px) and (max-width: 480px) {
  .plan-overlay {
    gap: 1rem;
  }

  .plan-box-heading {
    font-size: 1.7rem;
  }

  .plan-heading {
    font-size: 1.2rem;
  }

  .plan-content-box {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* phone  */
@media (min-width: 0px) and (max-width: 319px) {
  .plan-overlay {
    gap: 0.5rem;
  }

  .plan-box-heading {
    font-size: 1.5rem;
  }

  .plan-heading {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .plan-content-box {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
}

/* media-queries-section */

/* ------------------plan-box-end------------------------------ */

/* footer-section-start  */

.footer {
  padding: 3rem;
  background-color: var(--dark-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 3rem;
}

.footer-communication-content {
  grid-column: 1/5;
  padding: 2rem;
  background-color: var(--semi-color);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 1rem;
}

.details {
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
}

.details > a {
  text-decoration: none;
  word-break: break-all;
}

.details > a > span {
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.details-icon {
  font-size: 3rem;
  margin: 0.5rem 0;
  transition: transform 0.6s;
}

.details-icon:hover {
  transform: rotate(360deg) scale(1.3);
}

.footer-content {
  color: var(--light-color);
  text-align: start;
  letter-spacing: 1px;
  line-height: 23px;
}

.footer-content > p:first-child {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.footer-social-link > a {
  color: var(--main-color);
  font-size: 1.5rem;
  transition: all 0.3s;
  padding: 0.1rem 0.5rem;
}

.footer-social-link > a:hover {
  color: var(--light-color);
}

.footer-nav-links > li {
  padding: 0.5rem 0;
  list-style: none;
}

.footer-nav-links > li > a {
  text-decoration: none;
  color: var(--light-color);
  letter-spacing: 1px;
}

.footer-nav-links > li > a:hover {
  color: var(--main-color);
}

.creator {
  text-align: center;
  grid-column: 1/5;
  padding-top: 0.7rem;
  border-top: 1px solid grey;
}

.creator > p {
  color: var(--light-color);
}

.creator > p > marquee > span > a {
  color: var(--main-color);
  text-decoration: none;
}

/* footer-media-queries  */

/* desktop  */
@media (min-width: 1025px) and (max-width: 1200px) {
  .footer {
    display: grid;
    gap: 1rem;
  }

  .footer-content > p:first-child {
    font-size: 1.2rem;
  }
}

/* laptop  */

@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 1rem 3rem;
    display: grid;
    gap: 4rem 2rem;
  }

  .footer-content > p:first-child {
    font-size: 1.2rem;
  }

  .details {
    width: 100%;
  }

  .footer-communication-content {
    display: flex;
    flex-direction: column;
  }

  .footer-content {
    grid-column: 1/5;
    padding: 0.5rem;
  }
}

/* tablet  */
@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    padding: 1rem 2rem;
    display: grid;
    gap: 1rem;
  }

  .footer-content > p:first-child {
    font-size: 1.2rem;
  }

  .footer-communication-content {
    display: flex;
    flex-direction: column;
  }

  .footer-content {
    grid-column: 1/5;
    padding: 0.5rem;
  }
}

/* phone  */
@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    padding: 1rem;
    display: grid;
    gap: 1rem;
  }

  .footer-content > p:first-child {
    font-size: 1.2rem;
  }

  .footer-communication-content {
    display: flex;
    flex-direction: column;
  }

  .details {
    width: 100%;
    overflow-wrap: break-word;
  }

  .details > a > span {
    font-size: 1rem;
  }

  .footer-content {
    grid-column: 1/5;
    padding: 0.5rem;
  }

  .details-icon {
    font-size: 2.5rem;
  }

  .map {
    overflow: auto;
  }

  .creator > p {
    font-size: 0.8rem;
  }

  .footer-nav-links > li > a {
    font-size: 0.9rem;
  }
}

/*mini- phone  */
@media (min-width: 0px) and (max-width: 319px) {
  .footer {
    padding: 0.5rem;
    display: grid;
    gap: 1rem;
  }

  .footer-content > p:first-child {
    font-size: 1.1rem;
  }

  .footer-communication-content {
    display: flex;
    flex-direction: column;
  }

  .details {
    width: 100%;
    overflow-wrap: break-word;
  }

  .details > a > span {
    font-size: 1rem;
  }

  .footer-content {
    grid-column: 1/5;
    padding: 0.5rem;
  }

  .details-icon {
    font-size: 2.5rem;
  }

  .map {
    overflow: auto;
  }

  .creator > p {
    font-size: 0.8rem;
  }

  .footer-nav-links > li > a {
    font-size: 0.9rem;
  }
}
/* footer-media-queries  */

/* footer-section-end */
