/* CSS RESET  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --main-color: #fc0;
  --dark-color: #000000;
  --feature-color: #040404;
  --semi-color: #141414;
  --light-color: #ffffff;
  --font-color: rgb(12, 8, 8);
  --navscroll-color: #080707;
}

body {
  max-width: 2000px;
  margin: 0 auto;
}

.btn {
  padding: 0.8rem 1.3rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: var(--main-color);
  cursor: pointer;
  transition: all 0.4s;
}

.btn > a {
  text-decoration: none;
  color: var(--dark-color);
}

.btn:hover {
  background-color: yellow;
}

.container {
  padding-left: 4rem;
  padding-right: 4rem;
}

.container_padding {
  padding: 6rem 4rem;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

#wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: var(--dark-color);
}

#logo {
  width: 250px;
}

.menu_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav_link {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav_link:hover {
  color: var(--light-color);
  transition: all 0.8s;
}

#hamburger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2.5rem;
  display: none;
}

#open,
#close {
  display: none;
  cursor: pointer;
}

#sidebar {
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  position: fixed;
  right: 0;
  z-index: 999;
  transition: width 0.8s;
}

.side_menu_list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem 0;
  list-style: none;
  padding-top: 8rem;
  visibility: hidden;
}

.side_navlink {
  text-decoration: none;
  font-weight: 600;
  color: var(--dark-color);
}

.side_navlink:hover {
  color: var(--light-color);
  transition: all 0.8s;
}

/* header-media-queries  */

/* desktop  */
@media (min-width: 1025px) and (max-width: 1200px) {
  #wrapper {
    grid-template-columns: 1fr 1.5fr;
  }
}

/* laptop  */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .menu_list {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  #open {
    display: block;
  }
}

/* tablet  */
@media (min-width: 481px) and (max-width: 768px) {
  #logo {
    width: 200px;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .menu_list {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  #open {
    display: block;
  }
}

/* phone  */
@media (min-width: 320px) and (max-width: 480px) {
  #logo {
    width: 180px;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu_list {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  #open {
    display: block;
  }
}

@media (min-width: 0) and (max-width: 319px) {
  #logo {
    width: 150px;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu_list {
    display: none;
  }

  #hamburger {
    display: flex;
    font-size: 1.8rem;
  }

  #open {
    display: block;
  }
}

/* header-media-queries  */

/* home-section */

#home > img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* home-section */

/* about-section-start  */

#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--dark-color);
}

.left_about > h1 {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  color: var(--light-color);
  margin-bottom: 3rem;
}

.left_about > h1::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  bottom: -15%;
  left: 0;
  background-color: var(--main-color);
}

.left_about > h1 > span {
  color: var(--main-color);
}

.left_about > p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: var(--light-color);
  line-height: 23px;
}

.left_about > p > span {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.5rem;
}

.right_about {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right_about.active {
  animation: ZoomIn 2s ease-in-out;
  visibility: visible;
}

.right_about > img {
  width: 70%;
  display: block;
}

@keyframes ZoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.about-more {
  grid-column: 1/3;
  display: none;
  margin-top: 1.2rem;
  padding: 1rem;
  background-color: var(--feature-color);
}

.about-more > p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 23px;
  color: var(--light-color);
}

.about-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--dark-color);
}

.left-about-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.left-about-2 > img {
  width: 90%;
}

.right-about-2 > p:first-child {
  color: var(--main-color);
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.right-about-2 > p:last-child {
  color: var(--light-color);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 23px;
}

.about-3 {
  background-color: var(--dark-color);
}

.about-3 > p:first-child {
  color: var(--main-color);
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.about-3 > h3 {
  font-size: 1.1rem;
  color: var(--light-color);
  letter-spacing: 1px;
  font-weight: 500;
}

.about-3 > p:last-child {
  color: var(--light-color);
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 23px;
  font-weight: 300;
}

/* about-section-end  */

/* about-section-media-queries */

/* desktop  */
@media (min-width: 1025px) and (max-width: 1200px) {
  .right_about > img {
    width: 80%;
  }

  .left-about-2 > img {
    width: 100%;
  }
}

/* laptop  */
@media (min-width: 769px) and (max-width: 1024px) {
  .container_padding {
    padding: 4rem 3rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
  }

  .left_about {
    order: 0;
  }

  .left_about > p > span {
    font-size: 1.1rem;
  }

  .right_about {
    justify-content: center;
    order: 2;
  }

  .right_about > img {
    width: 70%;
  }

  .about-more {
    order: 1;
    margin-top: 0.8rem;
  }

  .about-2 {
    display: flex;
    flex-direction: column;
  }

  .left-about-2 {
    justify-content: center;
  }

  .left-about-2 > img {
    width: 80%;
  }
}

/* tablet  */
@media (min-width: 481px) and (max-width: 768px) {
  .container_padding {
    padding: 3rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
  }

  .left_about {
    order: 0;
  }

  .left_about > p > span {
    font-size: 1.1rem;
  }

  .right_about {
    order: 2;
    justify-content: center;
  }

  .about-more {
    order: 1;
    margin-top: 1.5rem;
    padding: 0;
  }

  .right_about > img {
    width: 90%;
  }

  .left_about > h1 {
    font-size: 1.7rem;
  }

  .about-more-btn {
    font-size: 1rem;
  }

  .about-more > p {
    font-size: 1rem;
  }

  .about-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
  }

  .left_about {
    justify-content: center;
  }

  .left-about-2 > img {
    width: 100%;
  }

  .right-about-2 > p:first-child {
    font-size: 1.7rem;
  }

  .about-3 > p:first-child {
    font-size: 1.7rem;
  }
}

/* phone  */
@media (min-width: 320px) and (max-width: 480px) {
  .container_padding {
    padding: 2rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
  }

  .right_about {
    order: 2;
    justify-content: center;
  }

  .right_about > img {
    width: 100%;
  }

  .left_about > h1 {
    font-size: 1.7rem;
    margin-bottom: 1.8rem;
  }

  .left_about > p > span {
    font-size: 1.1rem;
  }

  .about-more {
    margin-bottom: 0.5rem;
    padding: 0;
  }

  .about-more-btn {
    font-size: 1rem;
  }

  .about-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
  }

  .left-about-2 {
    justify-content: center;
  }

  .left-about-2 > img {
    width: 100%;
  }

  .right-about-2 > p:first-child {
    font-size: 1.6rem;
  }

  .about-3 > p:first-child {
    font-size: 1.6rem;
  }
}

@media (min-width: 0) and (max-width: 319px) {
  .container_padding {
    padding: 2rem 1rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
  }

  .right_about {
    order: 2;
    justify-content: center;
  }

  .right_about > img {
    width: 100%;
  }

  .left_about > h1 {
    font-size: 1.7rem;
    margin-bottom: 1.8rem;
  }

  .left_about > p {
    font-size: 0.9rem;
    line-height: 20px;
  }

  .left_about > p > span {
    font-size: 1.1rem;
  }

  .about-more {
    padding: 0;
    margin-top: 0.5rem;
  }

  .about-more-btn {
    font-size: 0.9rem;
  }

  .about-more > p {
    font-size: 0.9rem;
    line-height: 20px;
  }

  .about-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
  }

  .left_about-2 {
    justify-content: center;
  }

  .left-about-2 > img {
    width: 100%;
  }

  .right-about-2 > p:first-child {
    font-size: 1.3rem;
  }

  .right-about-2 > p:last-child {
    font-size: 0.9rem;
    line-height: 20px;
  }

  .about-3 > p:first-child {
    font-size: 1.3rem;
  }

  .about-3 > p:last-child {
    font-size: 0.9rem;
    line-height: 20px;
  }
}

/* about-section-media-queries */

/* footer-section-start  */

.footer {
  padding: 3rem;
  background-color: var(--dark-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 3rem;
}

.footer-communication-content {
  grid-column: 1/5;
  padding: 2rem;
  background-color: var(--semi-color);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 1rem;
}

.details {
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
}

.details > a {
  text-decoration: none;
  word-break: break-all;
}

.details > a > span {
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.details-icon {
  font-size: 3rem;
  margin: 0.5rem 0;
  transition: transform 0.6s;
}

.details-icon:hover {
  transform: rotate(360deg) scale(1.3);
}

.footer-content {
  color: var(--light-color);
  text-align: start;
  letter-spacing: 1px;
  line-height: 23px;
}

.footer-content > p:first-child {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.footer-social-link > a {
  color: var(--main-color);
  font-size: 1.5rem;
  transition: all 0.3s;
  padding: 0.1rem 0.5rem;
}

.footer-social-link > a:hover {
  color: var(--light-color);
}

.footer-nav-links > li {
  padding: 0.5rem 0;
  list-style: none;
}

.footer-nav-links > li > a {
  text-decoration: none;
  color: var(--light-color);
  letter-spacing: 1px;
}

.footer-nav-links > li > a:hover {
  color: var(--main-color);
}

.creator {
  text-align: center;
  grid-column: 1/5;
  padding-top: 0.7rem;
  border-top: 1px solid grey;
}

.creator > p {
  color: var(--light-color);
}

.creator > p > marquee > span > a {
  color: var(--main-color);
  text-decoration: none;
}

/* footer-media-queries  */

/* desktop  */
@media (min-width: 1025px) and (max-width: 1200px) {
  .footer {
    display: grid;
    gap: 1rem;
  }

  .footer-content > p:first-child {
    font-size: 1.2rem;
  }
}

/* laptop  */

@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 1rem 3rem;
    display: grid;
    gap: 4rem 2rem;
  }

  .footer-content > p:first-child {
    font-size: 1.2rem;
  }

  .details {
    width: 100%;
  }

  .footer-communication-content {
    display: flex;
    flex-direction: column;
  }

  .footer-content {
    grid-column: 1/5;
    padding: 0.5rem;
  }
}

/* tablet  */
@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    padding: 1rem 2rem;
    display: grid;
    gap: 1rem;
  }

  .footer-content > p:first-child {
    font-size: 1.2rem;
  }

  .footer-communication-content {
    display: flex;
    flex-direction: column;
  }

  .footer-content {
    grid-column: 1/5;
    padding: 0.5rem;
  }
}

/* phone  */
@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    padding: 1rem;
    display: grid;
    gap: 1rem;
  }

  .footer-content > p:first-child {
    font-size: 1.2rem;
  }

  .footer-communication-content {
    display: flex;
    flex-direction: column;
  }

  .details {
    width: 100%;
    overflow-wrap: break-word;
  }

  .details > a > span {
    font-size: 1rem;
  }

  .footer-content {
    grid-column: 1/5;
    padding: 0.5rem;
  }

  .details-icon {
    font-size: 2.5rem;
  }

  .map {
    overflow: auto;
  }

  .creator > p {
    font-size: 0.8rem;
  }

  .footer-nav-links > li > a {
    font-size: 0.9rem;
  }
}

/*mini- phone  */
@media (min-width: 0px) and (max-width: 319px) {
  .footer {
    padding: 0.5rem;
    display: grid;
    gap: 1rem;
  }

  .footer-content > p:first-child {
    font-size: 1.1rem;
  }

  .footer-communication-content {
    display: flex;
    flex-direction: column;
  }

  .details {
    width: 100%;
    overflow-wrap: break-word;
  }

  .details > a > span {
    font-size: 1rem;
  }

  .footer-content {
    grid-column: 1/5;
    padding: 0.5rem;
  }

  .details-icon {
    font-size: 2.5rem;
  }

  .map {
    overflow: auto;
  }

  .creator > p {
    font-size: 0.8rem;
  }

  .footer-nav-links > li > a {
    font-size: 0.9rem;
  }
}
/* footer-media-queries  */

/* footer-section-end */
